<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <title>Joel Patterson's Resume Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    
	<link rel="stylesheet" href="/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/smoothscroll.js"></script> 
    <script src="/js/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><p>About</p></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><p>Resume</p></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><p>Work</p></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><p>Contact</p></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Joel J. Patterson</h1>
					<h3>Student Journalist | joel.patt15@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p>I am a highly motivated and energetic healthcare journalist. I aim to combine my passion for service through medicine with the power of journalism to create change around the world. It is essential that I educate and inform individuals of varying backgronds,especially the underserved on complex health topics. Using a narrative story telling style, readers of my work will not only understand the issues at hand, but the impact these issue have on the average person's daily life.</p>
				</div>
				<div class="col-lg-3">
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>B.S. Chemical Journalism</t><br/>
						Mercer University <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>GRADUATING IN MAY 2015</sm><br/>
					<imp><sm>IN PROGRESS</sm></imp>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Master of Health and Medical Journalism</t><br/>
                        University of Georgia <br/>
						<i>2 Years Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>APPLICATION PROCESS STARTED</sm></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>WORK</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Research Assistant</t><br/>
						Mercer University School of Medicine <br/>
					</p>
					<p><more>
                        <ul>
                            <li>Conducts kidney cell experiments</li>
                            <li>Records data and prepares equipment for experiments</li>
                            <li>Drafts sections of science journals for publication</li>
                        </ul></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>MARCH 2013 - CURRENT</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Summer Media Intern</t><br/>
						WSAV-NBC affiliate <br/>
					</p>
					<p><more>
                        <ul>
                            <li>Conducted beat calls to area police and monitored scanners for breaking                                     news</li>
                            <li>Created local news stories for the web</li>
                            <li>Accompanied reporters and gathered information,pictures and interviews in the                               field</li>
                        </ul></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>MAY 2014 - AUG 2014</sm></p>
				</div>
            
            
            <div class="col-lg-6 col-lg-offset-3">
					<p><t>Mercer University Center for Collalborative Journalism</t><br/>
						 <br/>
					</p>
					<p><more>
                        <ul>
                            <li>Co-produced a radio feature for Georgia Public Broadcasting using Adobe Audtion CS6</li>
                            <li>Collected personal narrative of Macon natives</li>
                            <li>Covered local elections including photos and live tweets</li>
                            <li>Generated health-related enterprise feature pieces for The (Macon) Telegraph</li>
                        </ul></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>Currently</sm></p>
				</div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="Adobe Audition CS6" height="130" width="130"></canvas>
						<p>Adobe Audition CS6</p>
						<br>
						
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						
					</div>
					<div class="col-lg-3 centered">
						<canvas id="Microsoft Office" height="130" width="130"></canvas>
						<p>Microsoft Office</p>
						<br>
						
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>HTML/CSS</p>
						<br>
						
					</div>
					<div class="col-lg-3 centered">
						<canvas id="Instagram" height="130" width="130"></canvas>
						<p>Instagram</p>
						<br>
						
					</div>
					<div class="col-lg-3 centered">
						<canvas id="Twitter" height="130" width="130"></canvas>
						<p>Twitter</p>
						<br>
						
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
      <h3>Work Sample Preview</h3>
	<div class="container desc">
		<div class="row">
				<div class="col-lg-4 col-lg-offset-2">
					<p><img class="img-responsive" src="/img/heart.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>LVAD</p>
					<p><more>This articles describes the Left Ventricular Assist Device that is implanted in advanced-stage-heart-disease patients. It improves their quality of life while improving their mobility.<br/><br/>
					</p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
        
        <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
					<p><img class="img-responsive" src="/img/gym.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>New Year's Resolutions</p>
					<p><more>This article describes the flow of gym traffic across the Macon area due to New Years Resolutions. It provides advice for new gym goers to help them continue their workouts past the normal drop off season.<br/><br/>
					</p>
				</div>
		
		</div><!--row -->
        </div><!--container -->
	

	
    <section id="fashion" name="fashion"></section>
	<div id="denim">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					
				</div>
				<div class="">
					<h3>These are the images that I've gathered from Instagram using Ruby to display my fashion interests.  </h3>
                    <h3><a style="text-align: center;" href="http://www.huffingtonpost.com/2013/02/25/tyra-banks-photo_n_2741767.html">How to properly wear the Candian Tuxedo</a></h3>
                    <% @ig_results.each do|media_item| %>
                    <img src="<%= media_item.images.thumbnail.url %>" alt="" >
                    
                    <% end %>
                  
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->
            
      
      <section id="Tweets" name="Tweets"></section>
	<!--Tweets -->
	<div class="container desc">
		<div class="row">
				
				<div class="">
					<p>These are tweets gathered about the Affordable Care Act using Ruby.</p>
                    <% @search_results.each do |tweet| %>
                    <p><%= tweet.retweet_count %>:<a href=""><%tweet.user.screen_name %></a><%= tweet.text %></p>
				
	                   <% end %>
            </div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->

	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>   
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						joel.patt15@gmail.com <br/>
					</p>
					<p><t>Address</t><br/>
						1521 East 34th Street <br/>
						31404 <br/>
						Savannah, Georgia. <br/>
					</p>
					<p><t>Phone</t><br/>
						912.856.1102 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>
					<p>
						
						<a href="https://twitter.com/Joel_patt"><p>Twitter</p></a>
						<a href="https://www.facebook.com/joel.patterson.355"><p>Facebook</p></a>
				
						

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<p>Created by JOEL J. PATTERSON</p>
    
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
